{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <https://www.gnu.org/licenses/>.
}}

{{!
    @template local_deleteoldcourses/buttons

    Template for the date filter element.

    Context variables required for this template:
    * action string - Show pending courses o deleted courses.

    Example context (json):
    {
        "action": "pending",
    }
}}

<div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
        {{#action_pending}}
            <a href="{{url_pending}}" class="btn btn-danger">{{str_pending}}</a>
            <a href="{{url_deleted}}" class="btn btn-primary">{{str_deleted}}</a>
        {{/action_pending}}
        {{#action_deleted}}
            <a href="{{url_pending}}" class="btn btn-primary">{{str_pending}}</a>
            <a href="{{url_deleted}}" class="btn btn-danger">{{str_deleted}}</a>
        {{/action_deleted}}
    </div>
    <hr>
</div>
