{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_deleteoldcourses/recent_courses_alert

    Template for the date filter element.

    Context variables required for this template:
    * action string - Show pending courses o deleted courses.
    

    Example context (json):
    {
        "action": "/link",
        "content": "Str content",
        "link": "Str link",
    }
}}
<div class="alert alert-warning">
	<h5>
		<span style="color:#D51B23;">
			<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
		</span>
		{{content}}
		<a 
			style="color:#D51B23;" 
			target="blank" href="{{link}}">
			{{link_text}}.
		</a>
	</h5>
</div>