{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @author Brayan Sanchez Leon <brayan.sanchez.leon@correounivalle.edu.co>
    @author Iader E. Garcia Gomez <iadergg@gmail.com>
    @template block_course_list_uv/course_list_uv
}}

<div id="dashboard">
  <div id="dashboard-title">
    <h2>{{#str}}reports_heading, local_deleteoldcourses{{/str}}</h2>
  </div>
  <div id="criteria-desc">
    <p>{{#str}}criteria_description, local_deleteoldcourses{{/str}}</p>
  </div>
  <div class="criteria">
    {{#dictionary}}
      <table class="criteria-table">
        <tr>
          <td>{{#str}}criteria_creation_time, local_deleteoldcourses{{/str}}</td>
          <td>{{criteria_creation_time}}</td>
        </tr>
        <tr>
          <td>{{#str}}criteria_lastmodification_time, local_deleteoldcourses{{/str}}</td>
          <td>{{criteria_lastmodification_time}}</td>
        </tr>
        <tr>
          <td>{{#str}}criteria_lastmodification_user, local_deleteoldcourses{{/str}}</td>
          <td>{{criteria_lastmodification_user}}</td>
        </tr>
      </table>
      <table class="criteria-table">
        <tr>
          <td>{{#str}}courses_queued_by_professors, local_deleteoldcourses{{/str}}</td>
          <td>{{courses_queued_by_professors}}</td>
        </tr>
        <tr>
          <td>{{#str}}automatically_courses_queued, local_deleteoldcourses{{/str}}</td>
          <td>{{automatically_courses_queued}}</td>
        </tr>
        <tr>
          <td>{{#str}}total_courses_queued, local_deleteoldcourses{{/str}}</td>
          <td>{{total_courses_queued}}</td>
        </tr>
      </table>
    {{/dictionary}}
  </div>
</div>
